*.elc
*~
.*.lock
.cvsignore
.svn
/.achievements
/.bookmarks.el
/.cask/
/.emacs.desktop
/.historian
/.mc-lists.el
/.org-id-locations
/.session
/.smex-items
/.sqli_history
/.sx/
/.uptimes.el
/TODO
/ac-comphist.dat
/anaconda-mode/
/anything-c-adaptive-history
/auto-save-list
/custom.el
/ditaa*.jar
/elpa
/elpa-*
/emms/
/eshell
/frame-restore-parameters
/helm-adaptive-history
/history
/ido.last
/image-dired/
/irony
/magithub
/network-security.data
/newsticker
/org-clock-save.el
/org-gcal
/plantuml.jar
/projectile-bookmarks.eld
/rake.cache
/recentf
/session.*
/swank
/thumbs/
/tramp
/url/cache
/var
/viper
CVS
\#*
bookmarks
company-statistics-cache.el
cookies
site-lisp/package/
README.el
/request